{
  "TOKEN": "Your Token Goes Here",
  "AUTHOR": "Your Id Goes Here",
  "YOUTUBE_API_KEY": "Your Key Goes Here",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "ck!",
  "PRUNING": false,
  "guildlink": "https://discord.com/invite/9sBYjbchAm",
  "invitelink": "https://discord.com/oauth2/authorize?client_id=760244924188327977&scope=bot&permissions=502787319",
  "votelink": "https://top.gg/bot/760244924188327977"
}
